body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #222;
  color: #fff;
}

.App {
  position: relative;
}

.table {
  position: absolute;
  right: 10px;
  top: 10px;
}

.new-game {
  display: block;
  color: red;
  margin-top: 10px;
  cursor: pointer;
  border-bottom: 1px dashed;
}